<p>
  {{link-to "Widget list" "widgets.index" }}
</p>

<h1>Widget show</h1>

<p>
  <strong>Sku:</strong>
  <span>{{model.sku}}</span>
</p>

<p>
  <strong>Title:</strong>
  <span>{{model.title}}</span>
</p>

<p>
  <strong>Description:</strong>
  <span>{{model.description}}</span>
</p>

